{% extends 'crossword/layout.html' %} {% load static %} {% load crispy_forms_tags %} {% block body %}
<div class="simple-background">
    <div class="simple-body simple-padding">
        <div>
            <h1 class="title">Про проєкт</h1>
        </div>
        <div>
            <div class="text simple-y-padding bolid-text">
                Інструкція використання
            </div>
            <div class="text-message no-margin">
                <p style="margin: 0; font-size: 3vh;">Вписувати слова та їх опис потрібно за наведеним шаблоном:</p>
                <p style="margin: 0;">Слово = опис до слова</p>
                <p style="margin: 0;">Слово = опис до слова</p>
                <p style="margin: 0;">[Слово, знак рівності, опис до слова</p>
                <p style="margin: 0;">З нової строки інше слово, знак рівності, опис до слова] і так далі.</p>
            </div>
            <div style="margin: 2vh 0" class="text-message">
                <p style="margin: 0; font-size: 3vh;">Про статуси</p>
                <p style="margin: 0;">Публічний — кросворд доступний кожному.</p>
                <p style="margin: 0;">Захищений — кросворд з прихованими відповідями.</p>
                <p style="margin: 0;">Приватний — кросворд, який доступний лише його власнику.</p>
            </div>
            <div style="margin: 2vh 0" class="text-message">
                <p style="margin: 0; font-size: 3vh;">Максимальна кількість слів в кросворді: 50.</p>
            </div>
        </div>
        <div>
            <div class="text simple-y-padding bolid-text">
                Про автора
            </div>
            <div class="text-message no-margin">
                <p style="margin: 0;">Веб-застосунок розроблений Кириленком Тимофієм, учнем 10-А класу, в якості досліднецької роботи для Малої Академії Наук Дніпра в 2023 році.</p>
            </div>
        </div>
        <div>
            <div class="text simple-y-padding bolid-text">
                Для додаткової інформації
            </div>
            <div class="text-message simple-padding flex-input-form">
                <a href="https://t.me/Timon_NEON"><img src="/media/for_web_page/Telegram_logo.webp" title="Телеграм автора" alt="Telegram icon" class="header-logo"></a>
                <a href="https://github.com/Timon-NEON/MAN-Project"><img src="/media/for_web_page/github-mark.svg" title="Репозиторій веб-застосунку" alt="GitHub icon" class="header-logo"></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
