{% extends 'crossword/layout.html' %} {% load static %} {% block body %}
<div class="index">
    <div class="body-index">
        <div class="split left">
            <div class="centered">
                <div>
                    <h1 class="title">
                        {{ crossword_name }}
                    </h1>
                </div>
                {% if user_status == '0' %}
                <div class="generate">
                    <form action="{% url 'main:index' %}" method="post">
                        {% csrf_token %}
                        <div class="flex-input-form">
                            <h3 class="text">Назва</h3>
                            <div class="input-field">{{ form.name }}</div>
                        </div>
                        <div class="input-form">
                            <h3 class="text">Слова й опис</h3>
                            {{ form.words }}
                        </div>
                        <input class="btn" type="submit" value="Використати" />
                    </form>
                </div>
                {% endif %}

                {% if is_owner %}
                <form action="{% url 'main:delete' crossword_link %}" method="post">
                    {% csrf_token %}
                    <div id="top_padding"></div>
                    <input class="btn" type="submit" value="Видалити кросворд" />
                </form>
                {% endif %}

                <div>
                    {% if draw_form %}
                    <div class="">
                        <form class="flex-input-form" action="{% url 'main:draw' 'demo' %}" method="post">
                            {% csrf_token %}
                            {{ draw_form.name }}
                            {{ draw_form.words }}
                            {{ draw_form.best_crossword }}
                            <h3 class="text in-line-text">Якість зображення:</h3>
                            <div class="input-field input-choice" id="right_padding">{{ draw_form.quality }}</div>
                            <input class="btn" type="submit" value="Зберегти" />
                        </form>
                    </div>
                    {% endif %}
                </div>

                {% if user_status == '0' %}
                <div>
                    {% if download %}
                    <img src="" data-download="/media/images/clear_crossword_{{ download }}.png" alt="Порожній кросворд {{crossword_name}}" style="display: none;" />
                    <img src="" data-download="/media/images/full_crossword_{{ download }}.png" alt="Заповнений кросворд {{crossword_name}}" style="display: none;" />
                    <img src="" data-download="/media/images/describe_list_{{ download }}.png" alt="Опис слів до кросворда {{crossword_name}}" style="display: none;" />
                    <button class="btn" id="download-images">Завантажити зображення</button>
                    {% endif %}
                </div>

                {% else %}
                <div>
                    {% if download %}
                    <img src="" data-download="/media/images/clear_crossword_{{ download }}.png" alt="Порожній кросворд {{crossword_name}}" style="display: none;" />
                    <img src="" data-download="/media/images/describe_list_{{ download }}.png" alt="Опис слів до кросворда {{crossword_name}}" style="display: none;" />
                    <button class="btn" id="download-images">Завантажити зображення</button>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="split right">
            <div class="text-message">
                {% if messages %} {% for message in messages %}
                <div><h3>{{ message }}</h3></div>
                {% endfor %} {% endif %}
            </div>

            <div class="text-message">
                <div>
                    {% if user_status == '0' %}
                    <img class="demo_image" src="/media/images/full_crossword_{{ show_demo }}.png" alt="demo crossword" />
                    {% else %}
                    <img class="demo_image" src="/media/images/clear_crossword_{{ show_demo }}.png" alt="demo crossword" />
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const button = document.getElementById("download-images");

    button.addEventListener("click", () => {
        const images = document.querySelectorAll("img[data-download]");

        for (const image of images) {
            const xhr = new XMLHttpRequest();

            xhr.open("GET", image.getAttribute("data-download"));
            xhr.responseType = "blob";

            xhr.onload = () => {
                const blob = xhr.response;
                const url = window.URL.createObjectURL(blob);

                const link = document.createElement("a");
                link.href = url;
                link.download = image.getAttribute("alt");

                document.body.appendChild(link);
                link.click();
            };

            xhr.send();
        }
    });
</script>
{% endblock %}
