{% extends 'crossword/layout.html' %} {% load static %} {% block body %}

<div class="index">
    <div class="body-index">
        <div class="split left">
            <div class="centered">
                <div>
                    <h1 class="title">
                        Створіть свій кросворд
                    </h1>
                </div>
                <div class="generate">
                    <form action="{% url 'main:generate' %}" method="post">
                        {% csrf_token %}
                        <div class="flex-input-form">
                            <h3 class="text" title="Введіть назву заголовка кросворду. Щоб опублікувати кросворд, його назва повинна бути унікальною.">Назва</h3>
                            <div class="input-field">{{ form.name }}</div>
                        </div>
                        <div class="input-form">
                            <h3 class="text" title="Введіть слова та опис до них за зазначеним макетом на сторінці 'Про проєкт'">Слова й опис</h3>
                            {{ form.words }}
                        </div>
                        <div class="flex-input-form">
                            <h3 class="text" title="Уведіть час, який би ви хотіли виділити на генерацію кросворду. Можливий час: від 3 до 300 секунд. В середньому достатній від 5 до 15 секунд.">Час генерації</h3>
                            <div class="input-field">{{ form.time}}</div>
                            <a data-title="Час в секундах, який ви виокремлюєте для генерації кросворду. Чим більше часу генерується кросворд, тим більш красиву форму він буде мати. Рекомендована тривалість генерації: 20 секунд."><img class="little-img" src="/media/for_web_page/i.png"></a>
                        </div>
                        {% if show_demo %}
                        <input class="btn" type="submit" value="Перегенерувати" />
                        {% else %}
                        <input class="btn" type="submit" value="Генерувати" />
                        {% endif %}
                    </form>
                </div>

                <div>
                    {% if draw_form %}
                    <div class="">
                        <form class="flex-input-form" action="{% url 'main:draw' 'index' %}" method="post">
                            {% csrf_token %}
                            <h3 class="text">Якість зображення:</h3>
                            {{ draw_form.name }}
                            {{ draw_form.words }}
                            {{ draw_form.best_crossword }}
                            <div class="input-field input-choice" id="right_padding">{{ draw_form.quality }}</div>
                            <input class="btn" type="submit" value="Зберегти" />
                        </form>
                    </div>
                    {% endif %}
                </div>
                <div>
                    {% if download %}
                    <img src="" data-download="/media/images/clear_crossword_{{ download }}.png" alt="Порожній кросворд {{crossword_name}}" style="display: none;" />
                    <img src="" data-download="/media/images/full_crossword_{{ download }}.png" alt="Заповнений кросворд {{crossword_name}}" style="display: none;" />
                    <img src="" data-download="/media/images/describe_list_{{ download }}.png" alt="Опис слів до кросворда {{crossword_name}}" style="display: none;" />
                    <button class="btn" id="download-images">Завантажити зображення</button>
                    {% endif %}
                </div>

                <div>
                    {% if posting_form %} {% if user.is_authenticated %}
                    <div>
                        <form action="{% url 'main:post' %}" method="post">
                            <div class="flex-input-form">
                                {% csrf_token %}
                                {{ posting_form.name }}
                                {{ posting_form.words }}
                                {{ posting_form.best_crossword }}
                                <h3 class="text">Мова:</h3>
                                <div class="input-field input-choice">{{ posting_form.language }}</div>
                                <h3 class="text" id="left_padding">Статус:</h3>
                                <div class="input-field input-choice">{{ posting_form.status }}</div>
                            </div>
                            <input class="btn" type="submit" value="Опублікувати" />
                        </form>
                    </div>
                    {% else %}
                    <div class="text-message message-container">
                        <h4>Тільки зареєстровані користувачі можуть публікувати кросворди</h4>
                        <h5><a class="customise-link" href="{% url 'main:login' %}">Зареєструйтеся</a> або <a class="customise-link" href="{% url 'main:register' %}">Входьте в систему</a></h5>
                    </div>
                    {% endif %} {% endif %}
                </div>
            </div>
        </div>

        <div class="split right">
            <div class="centered">
                {% if messages %}
                <div class="text-message message-container">
                     {% for message in messages %}
                    <div><h3>{{ message }}</h3></div>
                    {% endfor %}
                </div>
                {% endif %}

                <div>
                    {% if show_demo != None %}
                    <div class="">
                        <img class="demo_image" src="/media/images/full_crossword_{{ show_demo }}.png" alt="demo crossword" />
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="flex-element flex-x-center flex-y-end footer-text">
        <a>Щоб зберегти кросворд, необхідно його опублікувати. </a>
        {% if not user.is_authenticated %}
        <a>&nbsp;Щоб опублікувати кросворд, необхідно&nbsp; <a class="customise-link" href="{% url 'main:login' %}">зареєструватися</a>&nbsp;або&nbsp; <a class="customise-link" href="{% url 'main:register' %}">ввійти в систему</a>.</a>
        {% endif %}
    </div>

    <script>
        const button = document.getElementById("download-images");

        button.addEventListener("click", () => {
            const images = document.querySelectorAll("img[data-download]");

            for (const image of images) {
                const xhr = new XMLHttpRequest();

                xhr.open("GET", image.getAttribute("data-download"));
                xhr.responseType = "blob";

                xhr.onload = () => {
                    const blob = xhr.response;
                    const url = window.URL.createObjectURL(blob);

                    const link = document.createElement("a");
                    link.href = url;
                    link.download = image.getAttribute("alt");

                    document.body.appendChild(link);
                    link.click();
                };

                xhr.send();
            }
        });
    </script>
    {% endblock %}
</div>
