{% extends 'crossword/layout.html' %}
{% load static %}

{% block body %}
    <div>
        <h1>
            Create your crossword!
        </h1>
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div><h3>{{ message }}</h3></div>
                {% endfor %}
            {% endif %}
        </div>
        

    </div>
    <div>
        <form action="{% url 'main:generate' %}" method="post">
            {% csrf_token %}
            <h3>name</h3>
            {{ form.name }}
            <h3>words</h3>
            {{ form.words }}
            <h3>time</h3>
            {{ form.time}}
            <br><br>
            {% if show_demo %}
                <input type="submit" value="Recreate!">
            {% else %}
                <input type="submit" value="Create!">
            {% endif %}
        </form>
    </div>

    <div>
        {% if show_demo == 0 %}
            <h4>На жаль, ми не змогли створити кросворд за вашими словами. Ось поради для вирішення проблеми:
                <ul>
                    <li>збільшіть час на генерацію кросворду</li>
                    <li>додайте нові слова або замініть маленькі слова більшими;</li>
                </ul>
            </h4>
        {% elif show_demo %}
            <h4>Here demo</h4>
            <br>
            <div class="demo-image">
                <img width="400" src="/media/images/full_crossword_{{ show_demo }}.png" alt="demo crossword">
            </div>
        {% else %}
            <h4>No demo</h4>
        {% endif %}
    </div>

    <div>
        {% if draw_form %}
            <div>
                <form action="{% url 'main:draw' 'index' %}" method="get">
                    {% csrf_token %}
                    {{ draw_form }}
                    <input type="submit" value="Draw">
                </form>
            </div>
        {% endif %}
    </div>

    <div>
        {% if posting_form %}
            {% if user.is_authenticated %}
                <div>
                    <form action="{% url 'main:post' %}" method="get">
                        {% csrf_token %}
                        {{ posting_form }}
                        <input type="submit" value="Post">
                    </form>
                </div>
            {% else %}
                <h4>Only registered users can post crosswords</h4>
                <h5><a href="{% url 'main:login' %}">Login now</a> or
                    <a href="{% url 'main:register' %}">Sign up now</a></h5>
            {% endif %}
        {% endif %}
    </div>

    <div>
        {% if download %}
        <img src="" data-download="/media/images/clear_crossword_{{ download }}.png" alt="Clear {{crossword_name}} crossword" style="display: none;">
        <img src="" data-download="/media/images/full_crossword_{{ download }}.png" alt="Full {{crossword_name}} crossword" style="display: none;">
        <img src="" data-download="/media/images/describe_list_{{ download }}.png" alt="Describe {{crossword_name}} list" style="display: none;">
        <button id="download-images">Завантажити зображення</button>
        {% endif %}
    </div>

    <script>
        const button = document.getElementById("download-images");
    
        button.addEventListener("click", () => {
          const images = document.querySelectorAll("img[data-download]");
    
          for (const image of images) {
            const xhr = new XMLHttpRequest();
    
            xhr.open("GET", image.getAttribute("data-download"));
            xhr.responseType = "blob";
    
            xhr.onload = () => {
              const blob = xhr.response;
              const url = window.URL.createObjectURL(blob);
    
              const link = document.createElement("a");
              link.href = url;
              link.download = image.getAttribute("alt");
    
              document.body.appendChild(link);
              link.click();
            };
    
            xhr.send();
          }
        });
      </script>
{% endblock %}