{% load static %}

<!DOCTYPE html>
<html lang="uk">
    <head>
        <title>Crosswords</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
        <link href="{% static 'crossword/styles.css' %}" rel="stylesheet" />
        <link rel="shortcut icon" href="/media/for_web_page/logo.png" />
    </head>
    <body>
        <header class="header">
            <a href="/"><img class="header-logo" src="/media/for_web_page/logo.png" alt="Лого" /></a>
            <div class="header-left">
                <a href="/" class="header-text">Головна</a>
                <a href="/search/page=0" class="header-text">Пошук</a>
                <a href="{% url 'main:about' %}" class="header-text">Про проєкт</a>
            </div>
            <div class="header-right">
                {% if user.is_authenticated %}
                <a href="{% url 'main:logout' %}" class="header-text">Вийти</a>
                <a href="/user/{{ user.username }}" class="header-text">{{ user.username }}</a>
                {% else %}
                <a href="{% url 'main:login' %}" class="header-text">Увійти</a>
                <a href="{% url 'main:register' %}" class="header-text">Зареєструватися</a>
                {% endif %}
            </div>
        </header>

        <div class="">
            {% block body %} {% endblock %}
        </div>
    </body>
</html>
