{% extends 'crossword/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
    <link href="{% static 'crossword/styles.css' %}" rel="stylesheet">
    <div>
        <h1>Registration!</h1>
    </div>

    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Sign in now</legend>
            {{ form|crispy }}   
        </fieldset>

        <div class="form-group" id="signup-button">
            <button class="btn ">Sign up</button>
        </div>
    </form>

{% endblock %}