{% extends 'crossword/layout.html' %} {% load static %} {% load crispy_forms_tags %} {% block body %}
<link href="{% static 'crossword/styles.css' %}" rel="stylesheet" />
<div class="simple-background">
    <div class="simple-body simple-padding">
        <div class="title simple-y-padding">
            <h1>Реєстрація акаунта</h1>
        </div>

        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="simple-y-padding">
                <legend class="text-message">Введіть дані про себе</legend>
                {{ form|crispy }}
            </fieldset>

            <div class="simple-y-padding">
                <button class="btn">Зареєструватись</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
