{% extends 'crossword/layout.html' %} {% load static %} {% block body %}
<div class="simple-background">
    <div class="simple-body simple-padding">
        <div class="title simple-y-padding">
            <h1>{{ username }}</h1>
        </div>
        <div class="text">
            <ul>
                <li><p>Username: {{ username }}</p></li>
                <li><p>Ім'я: {{ user_data.first_name }}</p></li>
                <li><p>Прізвище: {{ user_data.second_name }}</p></li>
                <li><p>Реєстрація: {{ user_data.sign_up_time }}</p></li>
            </ul>
        </div>
        <div>
            <h3 class="simple-y-padding">
                <a class="customise-link" href="/search/creator={{ username }}~~page=0">Дивитися кросворди автора</a>
            </h3>
        </div>
    </div>
</div>
{% endblock %}
