form textarea {
    max-width: 400px;
}

/*.main-div {
    margin: 1% 2% 1% 2%;
    padding: 1% 2% 1% 2%;
}*/

.search-line {
    margin: 1% 2% 1% 2%;
    padding: 0% 1% 0% 3%;
}

.demo_image {
    height: 80vh;
}

.solid-board {
    border-style: solid;
}

input:disabled {
    color: #000000;
    }

textarea:disabled {
    color: #000000;
    }

#block_search:link{
    color: rgb(10, 10, 9);
}

#block_search:visited{
    color: rgb(48, 48, 43);
}



.header {
    width: 100%;
    height: 7vh;
    background: #08151D;
    display: flex;
    font-family: "Lucida Console", monospace;
}

.header-left,
.header-right {
    margin: auto;
    flex: 1;
    justify-content: center;
}

.header-right {
    text-align:right!important;

}

.header-text{
    color: #f0f0f0;
    width: 5%;
    font-size: 2.7vh;
    font-weight: 500;
    text-decoration: none;
    margin: 0 1vw;


}

.header-logo{
    flex: 0;
    width: 6vh;
    margin: 0.5vh 1vw;
}




.index {
    display: block;
    width: 100%;
    min-height: 93vh;
    
    max-height: 100%;
    
    font-family: "Lucida Console", monospace;
    background: #BCBDD3
}

.body-index {
    display: flex;
}

    /*align-items: center;
    justify-content: center;*/


.index .left {
    padding: 1% 2% 1% 2%;
    margin: 1% 2% 1% 2%;
    display: flex;
    flex: 1;
    background: #f0f0f0;
}

.index .right {
    margin: 1% 2% 1% 2%;
    flex: 0;
    justify-content: right;
}

.input-form {
    padding: 1% 0;
}

.flex-input-form {
    display: flex;
    padding: 2% 2% 0% 0%;;
    align-items: center;
    
}

.input-field {
    padding: 0% 0% 1% 2%;
}

.input-choice {
    font-size: 3vh;
}




.element-display-block{
    display: block;
}

.flex-element {
    display: flex;
}

.simple-y-padding {
    padding: 1% 0%;
}

.simple-padding {
    padding: 1% 2%;
}

.little-x-padding {
    padding: 0% 0.5%;
}

.flex-x-center {
    justify-content: center;
}

.flex-y-end {
    align-content: end;
}

.break-columns-my {
    flex-basis: 100%;
    height: 0;
}

#left_padding {
    padding-left: 4%;
}
#right_padding {
    padding-right: 4%;
}
#top_padding {
    padding-top: 4%;
}


.search,
.simple-background {
    display: block;
    width: 100%;
    min-height: 93vh;
    font-family: "Lucida Console", monospace;
    background: #BCBDD3;
    padding: 1% 2%;
}

.search .body,
.simple-body {
    display: block;
    background: #f0f0f0;
}

.search .body .top {
    display: flex;
    padding: 1% 2% 1% 2%;
}

.search .body .bottom {
    display: block;
    padding: 1% 2% 1% 2%;
}

.search .body .top .left {
    display: flex;
    flex: 1;
    background: #f0f0f0;
}

.search .body .top .right {
    margin: 0.5% 1%;
    display: flex;
    flex: 1;
    justify-content: right;
}

.my-table {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.my-table-head {
    background-color: #BCBDD3;
    font-size: 3vh;
    border-bottom: 4px solid #94aeb8;
}

.my-table-row {
    font-size: 2.3vh;
    border-bottom: 1px solid #94aeb8;
}

.search-btn {
    width: 2.5vh;
    margin: 0.5vh 0;
}

.generate .btn,
.btn {
    background-color: #1DBEE1;
    padding: 0% 3px;
    margin-top: 0%;
    margin-bottom: 2%;
    text-decoration: none;
    display: inline-block;
    color: #08151D;
    font-size: 2.3vh
}

.generate .btn {
    font-size: 3vh;
}

.title {
    font-size: 6vh;
    font-weight: 150;
}

.text-message {
    font-size: 2.3vh;
    font-weight: 100;
}

.text {
    font-size: 3.5vh;
    
}

.in-line-text {
    white-space: nowrap;
}

.footer-text {
    font-size: 1.7vh;
    margin: 0;
    padding: 0;
    align-items: end;
}

.left .message-container {
    margin-top: 2%;
}

.right .message-container {
    margin: 1% 2%;
    min-width: 30vw;
}

.customise-link:link{
    color: #0C5F79;
    white-space: normal;
}

.customise-link:visited{
    color: #0C5F79;
}


