form textarea {
    max-width: 400px;
}

.main-div {
    margin: 1% 2% 1% 2%;
    padding: 1% 2% 1% 2%;
}

.search-line {
    margin: 1% 2% 1% 2%;
    padding: 0% 1% 0% 3%;
}

.demo_image {
    width: 200;
}

.solid-board {
    border-style: solid;
}

input:disabled {
    color: #000000;
    }

textarea:disabled {
    color: #000000;
    }

#block_search:link{
    color: rgb(10, 10, 9);
}

#block_search:visited{
    color: rgb(48, 48, 43);
}